.botonera {
    background-image: url('../resources/images/recta.svg');
    background-size: contain;
}

.bgBoton {
    background-color: white;
}

.bgSwitch {
    background-color: #6969694a;
}

.text-justify {
    text-align: justify;
}