* {
    position: relative;
}

#botonera {
    background-image: url('../resources/visual/recta.svg');
    background-size: contain;
}

.bgBoton {
    background-color: white;
    border-radius: 8px;
}

.bgSwitch {
    background-color: #6969694a;
}

.text-justify {
    text-align: justify;
}

.bgContainer {
    z-index: 0;
}

.bgImage {
    left: 0;
    position: absolute;
    opacity: 0.04;
    top: 0;
    width: 75%;
    height: auto;
    margin: 12.5% 12.5%;
}

#topMenu {
    display: grid;
    grid-template-columns: 21% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: rgb(34,247,29);
    background: linear-gradient(180deg, rgba(34,247,29,1) 0%, rgba(255,255,255,1) 100%);
}

#logoContainer {
    grid-row: 1 / span 3;
}

#botonera {
    grid-row: 2;
    grid-column: 2;
}

#subMenuX {
    grid-row: 3;
    grid-column: 2;
}

#logo {
    max-width: 100%;
}


#puntero {
    display: inline-block;
    transition: all .1s ease-in-out;
}

