<p>
    <h1>Nuestra historia</h1>
    <div>
        <p>
            La  Asociación de Pais/Nais de Nen@s con Discapacidades de la Mariña de Lugo surge del descontento, de las numerosas necesidades y de los pocos servicios 
            que tenemos a nuestra disposición, los padres y personas que la constituímos para atender a las necesidades de nuestros hijos, para convivir con ellos y para 
            facilitarles una vida apropiada para  su desarrollo.
        </p>
        <p>
            Estas necesidades dan lugar a varias reuniones  que transcurrieron en el inverno del 2000, fruto de las cuales se origina un pequeño debate sobre la 
            necesidad de crear una Asociación que pueda pelear por nuestras demandas tanto para nosotros como padres como para  nuestros niños.
        </p>
        <p>
            Los promotores de APNED somos un grupo de padres y personas que conviven o convivieron con la experiencia desconocida de tener una persona con la que 
            no podemos tomar contacto muchas veces, por lo menos de una forma espontánea. Todos sufrimos la ausencia de información, recursos, atención y soluciones: 
            en algún momento arrastramos una serie de inconvenientes, problemas o necesidades e pocas vías de solución para las mismas.
        </p>
        <p>
            Tras estas reuniones nace nuestra Asociación en Foz, en el año 2001; todos los miembros somos personas que nunca  pensamos tener un problema de este alcance 
            dentro de nuestro núcleo familiar. Aun hoy en día nos  preguntamos qué hicimos mal para  tener un pequeño/a diferente, tenga la discapacidad que sea. La respuesta 
            es sencilla: LOS PADRES DE LOS NIÑOS CON DISCAPACIDAD DE MAÑANA SON LOS NIÑOS Y JÓVENES "NORMALES" DE HOY. Nuestra andadura partió de esto.
        </p>
    </div>
</p>
<p>
    <h1>Quiénes somos</h1>
    <div>
        <p>
            APNED es una Asociación CREADA PARA LA DEFENSA DE LA DIFERENCIA,  la atención a la misma y la búsqueda de un mundo integrador de la misma. Creemos que sólo 
            en este mundo los niñ@s , hij@s,  que sean diferentes a los demás, pueden encontrar la tan ansiada CALIDAD DE VIDA.
        </p>
        <p>
            APNED está compuesta por: un grupo de madres/padres de niñ@s con dificultades/discapacidades, y tenemos como fin  mejorar sus vidas. Conscientes de que esto pasa por 
            mejorar la vida de la familia y de su entorno más próximo, procurando una convivencia sana y armoniosa en contextos de  normalización. Por eso, pretendemos Ayudar a 
            las personas con dificultades/trastornos y discapacidades En su medio natural, dentro da su familia y comunidad, tratando de atender y satisfacer sus demandas y 
            necesidades, a nivel personal, familiar, escolar y comunitario.
        </p>
        <p>
            Somos conscientes de que no podemos integrar a nuestros hijos/as en un mundo que no los tiene en cuenta, un mundo casi vacío de valores, a nuestro modo de ver 
            básicos (normalización, integración, solidaridad, respeto...). Sólo queremos defender la DIFERENCIA COMO UNA FORMA DE ENRIQUECERNOS TODOS/AS, viéndolas como una 
            oportunidad de aprender unos de los otros. Es necesario que aprendamos a adaptarnos a ellos, a entenderlos, así como también, debemos facilitarles el camino para 
            que ellos se puedan adaptar a nuestro mundo tan lleno de cambios, inseguro, etc.
            <br>
            PORQUE SU FUTURO, MERECE NUESTRO ESFUERZO!!!
        </p>
    </div>
</p>
<p>
    <h1></h1>
</p>
    
