<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>APNED</title>
        
        <link rel="shortcut icon" href="./resources/visual/logos/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./resources/Bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./resources/Splide/css/themes/splide-default.min.css">
        <link rel="stylesheet" href="./resources/Flag-icons-main/css/flag-icons.css">
        <link rel="stylesheet" href="./style/main.css">

        <script src="./resources/JQuery/jquery-3.6.3.min.js"></script>
        <script type="application/javascript" src="./resources/Splide/js/splide.min.js"></script>
        <script type="application/javascript" src="./script/script.js"></script>

        <!--BORRAR EN CASO DE NO FUNCIONAR-->
        <link rel="stylesheet" type="text/css" href="./resources/Slick/slick.css"/>

    </head>
    <body>
        <div class="bgContainer pe-none"><img class="bgImage" src="./resources/visual/logos/NewLogoV2.svg" alt="" srcset=""></div>
        <section class="pt-3 pb-5" id="topMenu">
            <div class="d-flex justify-content-end align-items-center w-100" id="logoContainer">
                <img src="./resources/visual/logos/LogoAPNEDV2.svg" id="logo" alt="">
            </div>
            <div class="d-flex justify-content-md-evenly align-items-md-center botonera collapse w-100 px-4" id="botonera">
                <div class="bgBoton d-flex justify-content-center">    
                    <button type="button" id="quien" class="btn btn-primary btn-lg mx-md-0 w-100" data-bs-toggle="collapse" data-bs-target="#subMenu1" aria-expanded="false" aria-controls="subMenu1">Sobre nosotros <img src="./resources/visual/icons/pointerV2.svg" id="puntero" alt=""></button>
                </div>
                <div class="bgBoton d-flex justify-content-center">    
                    <button type="button" id="servicios" class="btn btn-primary btn-lg mx-md-0 w-100" data-bs-toggle="collapse" data-bs-target="#subMenu2" aria-expanded="false" aria-controls="subMenu2">Servicios <img src="./resources/visual/icons/pointerV2.svg" id="puntero" alt=""></button>
                </div>
                <div class="bgBoton d-flex justify-content-center ">    
                    <button type="button" id="colabora" class="btn btn-warning btn-lg mx-md-0 w-100">Colabora</button>
                </div>
                <div class="bgBoton d-flex justify-content-center ">    
                    <button type="button" id="contacto" class="btn btn-primary btn-lg mx-md-0 w-100">Contacto</button>
                </div>
                <div class="bgBoton d-flex justify-content-center ">    
                    <button type="button" id="multimedia" class="btn btn-primary btn-lg mx-md-0 w-100">Multimedia</button>
                </div>
                <div class="bgBoton d-flex justify-content-center align-items-md-center">    
                    <div class="bgSwitch btn-group mx-md-0 w-100" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary d-flex justify-content-center" for="btnradio1"><span class="fi fi-es"></span></label>
                    
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary d-flex justify-content-center" for="btnradio2"><span class="fi fi-es-ga"></span></label>
                    </div>
                    
                </div>
            </div>
            <div class="d-flex-column justify-content-center w-100" id="subMenuX">
                <div class="collapse mt-3 w-100 mb-2" id="subMenu1">
                    <div class="d-flex flex-column flex-sm-row mb-sm-2 mx-5 mx-sm-0 justify-content-evenly" id="">
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="quienesSomos" class="btn btn-primary btn-lg mx-md-0 w-100">Quiénes somos</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="queHacemos" class="btn btn-primary btn-lg mx-md-0 w-100">Qué hacemos</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="nuestraHistoria" class="btn btn-primary btn-lg mx-md-0 w-100">Nuestra historia</button>
                        </div>
                    </div>
                </div>
                <div class="collapse mt-3 w-100 mb-2" id="subMenu2">
                    <div class="d-flex flex-column flex-md-row mb-md-2 mx-5 mx-md-0 justify-content-evenly" id="">
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="servicioAmbulatorio" class="btn btn-primary btn-lg mx-md-0 w-100">Servicio ambulatorio</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="servicioFamilia" class="btn btn-primary btn-lg mx-md-0 w-100">Servicio familias</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="formacion" class="btn btn-primary btn-lg mx-md-0 w-100">Formación</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2 mb-md-0 bgBoton">
                            <button type="button" id="ocio" class="btn btn-primary btn-lg mx-md-0 w-100">Ocio e tempo libre</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="cuerpo" class="d-flex flex-column justify-content-center text-justify mx-5 mx-md-1">
        </div>


        <script type="application/javascript" src="./resources/Bootstrap/js/bootstrap.bundle.min.js"></script>
        <!--BORRAR EN CASO DE NO FUNCIONAR-->
        <script type="text/javascript" src="./resources/Slick/slick.min.js"></script>
    </body>
</html>