.fotoCarrusel {
   
    margin:auto;
    max-width: 100%;
    max-height: 50vh;
    
  
}
.carrusel {
    z-index: 1;
}

.botoneraCarrusel {
    position: absolute;
    width: 100%;
}

.spacer {
    z-index: 0;
}

.flecha {
    width: 10%;
    z-index: 2;
}

.marcoFoto {
    max-height: 50vh;

}