<script>
    var splide = new Splide( '.splide' );
    splide.mount();
</script>
<section class="splide" aria-labelledby="carousel-heading">   
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide d-flex justify-content-center my-3"><h1>Slide 01</h1></li>
            <li class="splide__slide d-flex justify-content-center my-3"><h1>Slide 02</h1></li>
            <li class="splide__slide d-flex justify-content-center my-3"><h1>Slide 03</h1></li>
        </ul>
    </div>
</section>
