<head>
    <link rel="stylesheet" href="../Main/style/style.css">
</head>
<!--
<script>
    var splide = new Splide( '.splide', {
        autoWidth: false,
        focus    : 0,
        perPage : 1,
        height : "50vh"
        
    } );
    splide.mount();
</script>
<section class="splide" aria-labelledby="carousel-heading">   
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic1.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic2.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic3.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic4.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic5.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic6.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic7.jpg" alt=""></li>
            <li class="splide__slide d-flex justify-content-center my-3"><img class="fotoCarrusel" src="./resources/visual/pics/pic8.jpg" alt=""></li>
        </ul>
    </div>
</section>
-->

<script>
    $(document).ready(function(){
        $('.carrusel').slick({
            adaptiveHeight: true,
            arrows: false,
        });
    });

    $('.left').click(function(){
        $('.carrusel').slick('slickPrev');
    })

    $('.right').click(function(){
        $('.carrusel').slick('slickNext');
    })

    $( ".flecha" ).hover(
        function(){
            $( this ).fadeOut( 5 );
            $(this).prop("src", "./resources/visual/icons/arrowActiveV3.svg");
            $( this ).fadeIn( 150 );
        },
        function() {
            $( this ).fadeOut( 5 );
            $(this).prop("src", "./resources/visual/icons/arrowRestingV3.svg");
            $( this ).fadeIn( 150 );
        }
    );

</script>
<div class="d-flex justify-content-evenly">
    <img class="left flecha" src="./resources/visual/icons/arrowRestingV3.svg" alt="">
    <img class="right flecha" src="./resources/visual/icons/arrowRestingV3.svg" alt=""  style="transform: rotate(180deg);">

</div>
<div class="carrusel">
    
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic1.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic2.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic3.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic4.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic5.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic6.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic7.jpg" alt=""></div>
    <div class="marcoFoto"><img class="fotoCarrusel" src="./resources/visual/pics/pic8.jpg" alt=""></div>
    
</div>
